# PHPStorm
.idea/
*.iml
*.ipr
*.iws

# Composer
vendor/
composer.lock
composer.phar

# Laravel
bootstrap/cache/
.env.*
.env
*.log
public/hot
public/storage
storage/*.key
storage/logs/
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*

# PHPUnit
phpunit.xml
phpunit.xml.dist
phpunit.result.cache
