<!-- Contact section -->
<div class="row">
  <div class="col-sm-12 mt-5 mb-5">
    <section class="contact-section">
      <div class="container mt-5 mb-5">
        <div class="row mt-5 mb-5">
          <div class="col-lg-6 offset-3 contact-info">
            <h3>Giriş Yap</h3>
            <form class="contact-form">
              <input
                class="signInput"
                type="email"
                placeholder="E-Mail"
                required
              />

              <input
                class="signInput"
                type="password"
                placeholder="Şifre"
                required
              />

              <button type="submit" class="site-btn signbutton mt-5">
                Giriş Yap
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- Contact section end -->
